<a href="https://colab.research.google.com/github/AbhishekSaini1101/Colab/blob/main/pythonpractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 34
print(id(x)) #Here id is used to show the location of variable

132221714334992

In [ ]:
x = 34; y = 3.4

print(x+y)
#Implicit type conversion ( when language itself convert the type)
#Here 34 is int and 3.4 is float
#When we added int + float we got the ans in Int

Number = int(input("Enter any number"))
#Input function takes input in string from user.
#We convert Str to int
#Explicit type conversion when user tells language to convert data type.

In [5]:
X = [1,2,3,4,5,6]
X.append([7,8])
X.append(7)
print(X)

#append function increases One element in list. [7,8] as single member, 7 is also single.

[1, 2, 3, 4, 5, 6, [7, 8], 7]

In [8]:
X.extend([8,9,10])
print(X)

#extend adds multiple member at the end of the list

[1, 2, 3, 4, 5, 6, [7, 8], 7, 8, 9, 10, 8, 9, 10]

In [11]:
Name = "Abhishek Saini"
Email = "abhishek.saini2k1@gmail.com"
#Now we have to print abhishek from gmail

print(Email[0:Email.index("@")])

abhishek.saini2k1

In [ ]:
#Append, Extend
#Delete - using index, Remove- using element, Pop-delete last element
#Insert(index num, "Element")

In [7]:
# Q1 - remove duplicates and create a new list

L1 = [1,1,2,2,3,4,5,5,6,6]
L = []

for i in L1:
  if i not in L:
    L.append(i)
print(L)

[1, 2, 3, 4, 5, 6]

In [30]:
#TUPLES
#odered, unchangable, duplicates are allowed.
#add, deleting tuple single value, Edit are not possible in Tuple
#Tuple splits the member like "G", "o", "a" while list consider as "Goa" single member

T = (1,2,4,3,5,"RAM")

print(T)
print(T[1])  #access using index value

T1 = tuple("Goa")
print(T1)

T2 = (2,3,45,3,6,7)

L1 =["Goa"]
print(L1)

#Below scenario is not possible
# T1[1]= "P"
# print(T1)
#TypeError: 'tuple' object does not support item assignment

(1, 2, 4, 3, 5, 'RAM')
2
('G', 'o', 'a')
['Goa']

In [28]:
sorted(T2)
sorted(T2,reverse=True)

[45, 7, 6, 3, 3, 2]

In [45]:
#SETS
#unordered, unchangable, duplicates not allowed
#No indexing ( can't delete nor access any particular member )

# S={} it is by default Dict because dict also uses {}
S = {1,2,3,4,5,6,7,8,9,10}
S.add(11)
print(S)
id(S)
s = sorted(S, reverse=True)
print(s)

S2 = {4,12,13,14,5,6}
print(S.union(S2))
print(S.intersection(S2))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}
{4, 5, 6}