<a href="https://colab.research.google.com/github/AbhishekSaini1101/Colab/blob/main/PythonPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 34
print(id(x)) #Here id is used to show the location of variable

In [ ]:
x = 34; y = 3.4

print(x+y)
#Implicit type conversion ( when language itself convert the type)
#Here 34 is int and 3.4 is float
#When we added int + float we got the ans in Int

Number = int(input("Enter any number"))
#Input function takes input in string from user.
#We convert Str to int
#Explicit type conversion when user tells language to convert data type.

37.4

In [ ]:
#One dimensional List
L1 = [1, 2,3,4]
print(L1[2])

#Two dimensional list
#List inside list
L2 = [1,2,[3,4], [5,6,7]]
print(L2[0])
print(L2[3][0])

TempL = L2[3]
print(TempL[0])

#Multi Dimensional List
L4 = [[0,1],[[2,3],[4,5]]]
#we need to print 4 from List
print(L4[1][1][0])

NUMPY

In [ ]:
import numpy as np

L = [1,2,3,4,5,6,7,8,9,10]
print(L)

arr = np.array(L)
print(arr)

In [ ]:
type(arr)

In [ ]:
L1 = [1,2,3,4,5]
L2 = [6,7,8,9,10]
L3 = [11,12,13,14,15]

#arr = np.array(L1)
arr = np.array([L1, L2, L3])

In [ ]:
arr

In [ ]:
arr.shape

In [ ]:
  arr.reshape(5,3)

# --------**-Indexing**----------------

In [ ]:
#----- 1D ARRAY
L = [1,2,3,4,5,6,7,8,9,10]

ar = np.array(L)

ar[2]

In [ ]:
#-----2D ARRAY

arr

In [ ]:
arr[1:,3:]

In [ ]:
arr[0:2,0:2]

In [ ]:
arr[1,1:4]

In [ ]:
#-----Arange-----

arr = np.arange(0,20, step = 2)
arr

In [ ]:
np.linspace(1,10,50)

In [ ]:
#---- Broadcasting -----

arr[3:] = 300
arr

In [ ]:
#---- Copy array ----

arr1 = arr.copy()

In [ ]:
print(arr)
arr1[3:] = 1000
print(arr1)

In [ ]:
# Some conditions very useful in Exploratory Data Analysis

value = 2
arr < 2

In [ ]:
#Create array and reshape

np.arange(0,10).reshape(5,2)